body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, div {
    text-align: center;
    color: white;
    font-weight: lighter;
    background-color: black;
    line-height: 2;
}

h1:link, h1:visited, h1:active {
    color: white;
    text-decoration: none;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2;
}

li.inline {
    display: inline;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
}
img {
    
}
h2.center {
    text-align: center;
    font-weight: lighter;
}

p.center {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

